
/* available resources */

    params {

        // Max resource options
        // Defaults only, expecting to be overwritten
        max_memory = '2.GB'
        max_cpus   = 4
        max_time   = '2.h'

    }



/* process settings */

    process {

        /* global process settings */

            //container = 'URL/image_name'
            cpus       = { check_max( 1    * task.attempt, 'cpus'   ) }
            memory     = { check_max( 1.GB * task.attempt, 'memory' ) }
            time       = { check_max( 1.h  * task.attempt, 'time'   ) }
            maxRetries = 3
            queue      = 'defq'

        /* specific process settings */

            //withName: PROCESS1 {
            //container  = 'URL/image_name'
            //cpus       = { check_max( N    * task.attempt, 'cpus'   ) }
            //memory     = { check_max( N.GB * task.attempt, 'memory' ) }
            //time       = { check_max( N.h  * task.attempt, 'time'   ) }
            //maxRetries = 3
            //queue      = 'defq'
            //}

    }
