
/* PROFILE SCOPES */

profiles {

    /* LOCAL SETTINGS (DOCKER) */

        local {

            /* DOCKER */

                docker.enabled         = true
                docker.userEmulation   = true 

        }

    /* HPCC SETTINGS (UoN AUGUSTA) */

        hpcc {

            /* SLURM */

                process.executor       = 'slurm'
                process.queue          = 'defq'
                //process.clusterOptions = ''

            /* ENIVONRMENT MODULES */

                /* module load <module> */
                process.module              = 'singularity/3.4.2'

            /* SINGULARITY */
            
                singularity.enabled         = true
                singularity.autoMounts      = true

                /* launchDir/<cachDir>/image.[sif|img] */
                singularity.cacheDir        = 'singularity'

                /* singularity [engineOptions] exec [runOptions] ... */
                // singularity.engineOptions = '--verbose --nocolor'
                // singularity.runOptions    = ''

            /* UMASK */

                process.beforeScript = '''
                echo "beforeScript" > process.log
                echo "initial umask: $(umask)" >> process.log
                umask 0022
                echo "modified umask: $(umask)\n" >> process.log
                '''

                process.afterScript = '''
                echo "afterScript" >> process.log
                echo "final umask: $(umask)\n" >> process.log
                '''

                /* N.B. [before|after]Script executed (i) prior to 'module' & (ii) outside container */
    
        }

}
