
/* SETUP */

    def trace_timestamp = new java.util.Date().format( 'yyyyMMddHHmmss')

    trace_dir = "./logs/reports_${trace_timestamp}"



/* nextflow run ... -with-report [file_name] */ 

    report {
        enabled   = true
        file      = "${trace_dir}/report_${trace_timestamp}.html"
    }


/* nextflow run ... -with-trace */ 

    trace {
        enabled   = true
        file      = "${trace_dir}/trace_${trace_timestamp}.txt"
    }


/* nextflow run ... -with-timeline [file_name] */ 

    timeline {
        enabled   = true
        file      = "${trace_dir}/timeline_${trace_timestamp}.html"
    }


/* nextflow run ... -with-dag [file_name] */ 

    dag {
        enabled   = true
        overwrite = true
        file      = "${trace_dir}/dag_${trace_timestamp}.dot" // <dot|html|mmd|pdf|png|svg|gexf>
    }