
/* process settings */

    process {

        /* global process settings */

            // container = 'URL/image_name'

            cpus           = { check_max( 2    * task.attempt, 'cpus'   ) } // set seperately
	    penv           = "mt"

            memory         = { check_max( 4.GB * task.attempt, 'memory' ) }
            time           = { check_max( 6.h  * task.attempt, 'time'   ) }

            maxRetries     = 3

            queue          = 'all.q'
	    clusterOptions = "-P applications -l gpu=0"
            
        /* individual process settings */

            // withName: PROCESS1 {
            // container  = 'URL/image_name'
            // cpus       = { check_max( N    * task.attempt, 'cpus'   ) }
            // memory     = { check_max( N.GB * task.attempt, 'memory' ) }
            // time       = { check_max( N.h  * task.attempt, 'time'   ) }
            // maxRetries = 3
            // queue      = 'NAME'
            // }

    }
