
/* process settings */

    process {

        /* global process settings */

         // debug          = params.Verbose ?: false

            fair           = true

            maxRetries     = 3
	        penv           = "mt"
            cpus           = { check_max( 2    * task.attempt, 'cpus'   ) }
            memory         = { check_max( 4.GB * task.attempt, 'memory' ) }
            time           = { check_max( 6.h  * task.attempt, 'time'   ) }
            queue          = 'all.q'
	        clusterOptions = "-P applications"
	        clusterOptions+= " -l gpu=0"

            beforeScript = {

                if (workflow.stubRun && !task.stub) {

                    throw new Exception("Task stub not defined; ${task.process}")
                    
                    }
                
                if (!task.tag) {

                    throw new Exception("Task tag not defined; ${task.process}")
                    
                    }

                }

            afterScript = {
                
                logDir = "${workflow.launchDir}/${params.logDir}/tasks"
                logDir+= "/${task.process.replace(':','.')}/${task.tag}"

                """
                mkdir -p ${logDir}
                
                for LOG in .command*; do
                
                    TASKLOG="${logDir}/${task.tag}.\${LOG##*.}"
                    cp -a \$LOG \$TASKLOG
                
                done
                """.stripIndent()
                                
                }
                


        /* individual process settings */

         // withName: PROCESS1 {
         // container      = 'URL/image_name'
         // cpus           = N
         // memory         = N.GB
         // time           = N.h
         // queue          = 'NAME'
         // clusterOptions+= ''
            // }

    }
