
/* PROFILES */

profiles {


    /* LOCAL SETTINGS */

        local {

            /* RESOURCES */

                params.max_memory = '4.GB'
                params.max_cpus   = 4
                params.max_time   = '24.h'

            /* DOCKER */

                docker.enabled         = true
                docker.userEmulation   = true 

        }


    /* HPC SETTINGS; ONT Login */

        login {

            /* RESOURCES */

                params.max_memory = '4.GB'
                params.max_cpus   = 4
                params.max_time   = '24.h'

            /* SINGULARITY */

                singularity.enabled         = true
                singularity.autoMounts      = true

        }



    /* HPC SETTINGS; ONT Argus */

        argus {

            /* RESOURCES */

                params.max_memory = '4.GB'
                params.max_cpus   = 4
                params.max_time   = '24.h'

            /* UGE */

                process.executor       = 'sge'
                // process.clusterOptions = ''

            /* SINGULARITY */

                singularity.enabled         = true
                singularity.autoMounts      = true

                /* i.e. launchDir/<cachDir>/image.[sif|img] */
                // singularity.cacheDir        = 'singularity'

                /* i.e. singularity [engineOptions] exec [runOptions] ... */
                // singularity.engineOptions = '--verbose --nocolor'
                // singularity.runOptions    = ''

        }



    /* HPCC SETTINGS; UoN Augusta */

        augusta {

            /* RESOURCES */

                params.max_memory = '100.GB'
                params.max_cpus   = 4
                params.max_time   = '168.h'

            /* SLURM */

                process.executor       = 'slurm'
                // process.clusterOptions = ''

            /* ENIVONRMENT MODULES */

                /* i.e. module load <module> */
                process.module              = 'singularity/3.4.2'

            /* SINGULARITY */
            
                singularity.enabled         = true
                singularity.autoMounts      = true

                /* i.e. launchDir/<cachDir>/image.[sif|img] */
                singularity.cacheDir        = 'singularity'

                /* i.e. singularity [engineOptions] exec [runOptions] ... */
                // singularity.engineOptions = '--verbose --nocolor'
                // singularity.runOptions    = ''

            /* UMASK */

                process.beforeScript = '''
                echo "beforeScript" > process.log
                echo "initial umask: $(umask)" >> process.log
                umask 0022
                echo "modified umask: $(umask)\n" >> process.log
                '''

                process.afterScript = '''
                echo "afterScript" >> process.log
                echo "final umask: $(umask)\n" >> process.log
                '''

                /* N.B. [before|after]Script executed (i) without 'module' & (ii) outside container */
    
        }

}
